<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clocked In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="message_back">
    <div class="clockin_message_box">
        <h1>You Have Clocked In</h1>

        <p><b>Start Time: </b>&nbsp; {{ start_time }}</p>

        <div class="clockin_buttons">
            <form action="{{ url_for('index') }}" method="get">
                <button type="submit">
                <img class="logo_size" src="{{ url_for('static', filename='home.png') }}" alt="Home Icon" class="home_icon">
                    Back to Home</button>
            </form>

            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit">
                <img class="logo_size" src="{{ url_for('static', filename='logout.png') }}" alt="Logout Icon" class="logout_icon">
                    Logout</button>
            </form>
        </div>
    </div>
</body>
</html>