<!DOCTYPE html>
<html>
    <head>
        <title>Clock In/Out Site</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="body">
        <h1 class="h1">Employee Time Clock</h1>


        <div class="sessioninfo">
            <p class="welcome"><b>Welcome, {{ employee_name }}</b></p>
            <p><b>Status:</b>&nbsp;{{ "Clocked In" if clocked_in == "Yes" else "Clocked Out" }}</p>
            <p><b>Clock In:</b>&nbsp;{{ clock_in if clock_in else "—" }}</p>
            <p><b>Clock Out:</b>&nbsp;{{ clock_out if clock_out else "—" }}</p>
            <p><b>Total:</b>&nbsp;{{ total_hours }} hour(s) {{ total_minutes }} minute(s)</p>
        </div>

        <div class="buttonlayout">
        <form  action="/clock-in" method="POST">
            <button type="submit">Clock In</button>
        </form>

        <form  action="/clock-out" method="POST">
            <button type="submit">Clock Out</button>
        </form>

        {% if session.get("employee_occupation") == "Admin" %}
            <form action="{{ url_for('admin_dashboard') }}" method="get">
                <button>Go to Admin Dashboard</button>
            </form>
        {% endif %}
        </div>

        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>

        <div class="employee_schedule">
    <h2>My Schedule</h2>

    {% if employee_schedule %}
        <table>
            <tr>
                <th>Day</th>
                <th>Shift</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>{{ employee_schedule["Monday"] }}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>{{ employee_schedule["Tuesday"] }}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>{{ employee_schedule["Wednesday"] }}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>{{ employee_schedule["Thursday"] }}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>{{ employee_schedule["Friday"] }}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>{{ employee_schedule["Saturday"] }}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>{{ employee_schedule["Sunday"] }}</td>
            </tr>
        </table>
    {% else %}
        <p>No schedule found.</p>
    {% endif %}
</div>
    </body>
</html>
