<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Clocked In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="message_back">
    <div class="clock_message_box">
        <h1>Unable to Clock Out</h1>

        <p>{{ employee_name }}, you are not currently clocked in.</p>

        <div class="clock_message_buttons">
            <form action="{{ url_for('index') }}" method="get">
                <button type="submit">
                <img class="logo_size" src="{{ url_for('static', filename='home.png') }}" alt="Home Icon" class="home_icon">
                    Back to Home</button>
            </form>

            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit">
                <img class="logo_size" src="{{ url_for('static', filename='logout.png') }}" alt="Logout Icon" class="logout_icon">
                    Logout</button>
            </form>
        </div>
    </div>
</body>
</html>